.title {
    text-decoration: underline;
    font-size: 60px;
    font-weight: bolder;
    color: #e94a4a;
    text-align: center;
}
ol,ul{
    font-size: 30px;
    font-weight: bolder;
    color: #692d2d;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.kasztan{
    display: grid;
    gap: 0px 10px;
    border:2px solid #e17373;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
}
img{
    flex-grow: 1;
    grid-column: 1/-1;
    padding: 1rem 1rem;
    width: 500px;
    height: 300px;
    object-fit: cover;
}
p{
    margin: 0;
    padding: 0;
}
.desc{
    justify-self: right;
}
.value{
    justify-self: left;
}
button{
    color: black !important;
    font-size: x-large;
    padding: 3rem;
    gap: 1rem 1rem;
    background-color: burlywood;
    font-weight: bold;
    grid-column: 1/-1;
    border-radius: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: darkgoldenrod;
}
